@media all and (max-width: 1200px) {
    .navbar-list__item {
        margin: 0 8px;
    }

    .left-banner,
    .right-banner {
        height: 315px;
    }

    .catalog-banner-left {
        width: 50%;
    }

    .dots-control {
        right: 45%;
    }

    .caption-center-banner, .caption-last-banner {
        margin-top: 220px;
    }

    .catalog-banner-left,
    .catalog-banner-right,
    .catalog-banner-center {
        height: 315px;
    }

    .catalog-items-list > .catalog-item-holder {
        width: 24%;
    }

    .btn-color,
    .btn-size {
        margin: 0 15px;
    }

    .preview {
        height: 110px;
    }

    .item-photo_active {
        height: 110px;
    }
}