body {
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1180px;
}


.content-wrapper {
    width: 100%;
}

/*NAVBAR*/

.logo__link {
    text-decoration: none;
    color: #000;
}

.logo__link:hover {
    color: #f14a58;
}

.top-header-logo__item {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 0;
}

.top-header {
    margin-top: 30px;
}

.top-header-logo {
    float: left;
}

.login-bag {
    float: right;
}

.login-bag > :last-child {
    margin-right: 0;
}

.clear {
    clear: both;
}

.login-bag__item {
    font-family: 'Roboto Regular', sans-serif;
    text-decoration: none;
    color: #000;
    margin: 0 27px;
}

.navbar-list__item {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    list-style-type: none;
    display: inline-block;
    margin: 0 21px;
    text-transform: capitalize;
}

.navbar__link {
    text-decoration: none;
    color: #000;
}

.navbar__link:hover {
    color: #f14a58;
}

.navbar-list >:first-child .navbar__link {
    margin-left: 0;
    color: #f14a58;
}


.navbar-list {
    padding: 0;
    float: left;
}

.navbar__item_type_search {
    width: 120px;
    border: none;
    border-bottom: 2px solid #a8a8a8;
    border-left: none;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
    padding-bottom: 8px;
    margin: 15px 0 0 0;
    outline: none;
}


.navbar__item_type_search::-webkit-search-decoration,
.navbar__item_type_search::-webkit-search-cancel-button,
.navbar__item_type_search::-webkit-search-results-button,
.navbar__item_type_search::-webkit-search-results-decoration {
    display: none;
}

.loupe {
    background: url('../images/start/search-icon.png') no-repeat 50% 50%;
    border: none;
    margin-left: -15px;
    outline: none;
}


.search-form {
    float: right;
}

.loupe:hover {
    cursor: pointer;
}

/*SLIDER*/

.slideshow {
    width: 100%;
    position: relative;
}

.slider-container {
    display:none
}


.slideshow__item {
    width: 100%;
}

.dots-control {
    position: absolute;
    bottom: 40px;
    right: 47%;
}

.dot {
    height: 7px;
    width: 7px;
    margin: 0 11px;
    background-color: #c8c8c8;
    border-radius: 50%;
    display: inline-block;
}

.active-slider {
    background-color: #f14a58;
}

.dot:hover {
    cursor: pointer;
}

/*BANNERS*/

.banners {
    margin-top: -3px;
    width:100%;
    border-bottom: 1px solid #e5e5e5;
}

.left-banner {
    float: left;
    background: url('../images/start/banner_left.png') no-repeat;
    background-size: cover;
    width: 50%;
    height: 385px;
    box-sizing: border-box;
}

.right-banner {
    float: right;
    background: url('../images/start/banner_right.png') no-repeat;
    background-size: cover;
    width: 50%;
    box-sizing: border-box;
    height: 385px;
    border-left: 1px solid #e5e5e5;

}


.left-banner__title,
.right-banner__title {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.left-banner__subtitle,
.right-banner__subtitle {
    font-family: "Times New Roman", sans-serif;
    font-style: italic;
}

.titles-wrapper {
    width: 50%;
    float: right;
    text-align: center;
    margin-top: 30px;
}

.banners__link {
    text-decoration: none;
    color: #000;
}

.banners__link:hover {
    color: #f14a58;
}

/*NEW ARRIVALS*/

.catalog-title {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 100px;
}

.catalog-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

.catalog-wrapper {
    width: 100%;
}

.catalog__item {
    width: 100%;
}

.catalog-item__link {
    text-decoration: none;
    color: #000;
}


.catalog-item_active {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 340px;
    z-index: 1;
    text-align: center;
    padding-top: 160px;
    background-color: rgba(0,0,0, 0.5);
    box-sizing: border-box;
    color: #f14a58;
    display: none;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.catalog-item-holder {
    position: relative;
}

.catalog-item__link:hover .catalog-item_active {
    display: block;
}

.catalog-item__link:hover .catalog-item-title {
    color: #f14a58;
}

.catalog-item-info {
    text-align: center;
    margin-top: 40px;
}

.catalog-item-title {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    width: 240px;
}

.catalog-item-subtitle {
    font-family: "Open Sans Regular", sans-serif;
}

.btn-load {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    width: 340px;
    padding: 27px 60px;
    font-size: 23px;
    background-color: transparent;
    outline: none;
    border: 1px solid #ababab;
}

.button-load-wrapper {
    margin-top: 100px;
    width: 100%;
    text-align: center;
}


.btn-load:hover {
    border: 1px solid #f14a58;
    color: #f14a58;
    cursor: pointer;
}


/*FOOTER*/

.footer-list__item {
    list-style-type: none;
    font-family: "Roboto Regular", sans-serif;
    margin: 20px 0;
    width: 100%;
}

.footer-list__link {
    text-decoration: none;
    color: #000;
}

.footer-list__link:hover {
    text-decoration: underline;
}

.footer-list {
    padding: 0;
    margin-top: 50px;
}

.footer-title {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.footer-wrapper {
    margin: 108px 0 50px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.footer-left-lists {
    width: 50%;
    float: left;
    border-right: 1px solid #e5e5e5;
    padding-top: 35px;
    box-sizing: border-box;
}

.footer-right-lists {
    padding-top: 35px;
    padding-left: 10px;
    float: right;
    width: 45%;
    box-sizing: border-box;
}

.quick-links,
.customer-care,
.questions,
.orderby-phone {
    display: inline-block;
    width: 49%;
}


.quick-links,
.customer-care,
.questions,
.orderby-phone {
    vertical-align: top;
}


.footer-right-lists > :last-child {
    margin-right: 0;
}

.questions-tweet {
    font-weight: bold;
}

.item-questions,
.item-order {
    margin-top: 0;
}

.questions-list,
.by-phone-list {
    margin-top: 0;
}

.questions-item {
    list-style-image: url('../images/start/twi_ico.png');
    margin-left: 20px;
}

.delivery-info {
    font-family: "Times New Roman", sans-serif;
    font-style: italic;
    width: 300px;
    color: #757575;
}

.share-icons {
    margin: 35px 0 0 0;
    padding: 0;
}

.share-icons__item {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
}

.copyright__item {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.copyright {
    float: left;
    padding-bottom: 30px;
}

.footer-bottom-menu {
    margin: 0;
    padding:0;
}

.bottom-menu {
    float: right;
}

.footer-bottom-menu__item {
    list-style-type: none;
    display: inline-block;
    padding: 0 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.footer-bottom-menu__link {
    text-decoration: none;
    color: #000;
}

.footer-bottom-menu__link:hover {
    color: #f14a58;
}

.share {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.share__num {
    background: url('../images/start/sharing-bg.png') no-repeat;
    font-family: "Roboto Regular", sans-serif;
    font-weight: normal;
    padding: 2px 4px;
    font-size: 12px;
}

.footer-bottom-holder {
    width: 100%;
}

.footer-bottom-menu > :first-child {
    padding-left: 0;
}

/*CATALOG*/

.catalog__subtitle {
    font-family: "Times New Roman", sans-serif;
    font-style: italic;
    color: #a1a1a1;
}

.catalog-announcement {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.catalog-discount {
    color: #f14a58;
}

.catalog-announcement-info {
    font-family: "Times New Roman", sans-serif;
    font-style: italic;
}

.catalog-discount-info {
    text-align: center;
    margin: 75px 0;
    width: 100%;
}

.catalog-items-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.catalog-items-list > .catalog-item-holder {
    margin: 25px 0 75px 0;
}


/*BANNERS*/

.catalog-banners {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.catalog-banner-left {
    background: url('../images/catalog/catalog_banner_left.png') no-repeat;
    background-size: cover;
    width: 50%;
    height: 385px;
}

.catalog-banner-center {
    background: url('../images/catalog/catalog_banner_center.png') no-repeat;
    background-size: cover;
    width: 50%;
    height: 385px;
    border-left: 1px solid #e5e5e5;
}

.catalog-banner-right {
    background: url('../images/catalog/catalog_banner_right.png') no-repeat;
    background-size: cover;
    width: 50%;
    height: 385px;
    border-left: 1px solid #e5e5e5;
}

.catalog-banner-left,
.catalog-banner-right,
.catalog-banner-center {
    margin-left: -5px;
    float: left;
}

.catalog-banner__title {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}

.catalog-banner__link,
.catalog-banner__subtitle {
    color: #fff;
    text-decoration: none;
}

.caption-last-banner .catalog-banner__link {
    color: #f14a58;
}

.caption-last-banner .catalog-banner__subtitle {
    color: #757575;
}

.banners-group-right {
    width: 50%;
    float: right;
}

.text-center {
    text-align: center;
}

.caption-first-banner {
    margin-top: 70px;
    margin-left: 50%;
}

.caption-center-banner,
.caption-last-banner {
    margin-top: 300px;
}

/*FILTER*/

.fashion-select,
.brand-select,
.size-select {
    background: #f7f7f7 url('../images/catalog/arrow-ico.png') no-repeat 90%;
    cursor: pointer;
}

.filter-holder {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}

.filter {
    border: none;
    outline: none;
    height: 65px;
    width: 100%;
    -webkit-appearance: none;
}

.product-select,
.color-select,
.price-select {
    background: url('../images/catalog/arrow-ico.png') no-repeat 90%;
    cursor: pointer;

}

.filter-item-holder {
    width: 17%;
    display: inline-block;
    overflow: hidden;
}

.filter__item {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #f14a58;
}

.filter__item:hover,
.filter__item:focus {
    cursor: pointer;
    background-color: transparent;
}

/*ITEM PAGE*/

.item-photos {
    float: left;
    width: 50%;
    margin-top: 85px;
}

.item-info {
    float: right;
    width: 50%;
    margin-top: 70px;
}

.item-title {
    font: bold 20px 'Roboto', sans-serif;
}

.item-subtitle {
    font-family: "Times New Roman", sans-serif;
    font-style: italic;
}

.item-currency,
.item-price {
    font-family: "Roboto Regular", sans-serif;
    font-size: 25px;
}

.item-photo-wrapper {
    display: inline-block;
    width: 33%;
    margin-left: -2px;
    position: relative;
}

.preview-photos> :first-child {
    margin-left: 0;
}

.active-photo {
    width: 100%;
}

.active-item-photo {
    width: 100%;
}

.item-title,
.item-subtitle,
.item-currency {
    padding-left: 40px;
}

.preview-photos {
    margin-top: -4px;
}

.preview {
    width: 100%;
    cursor: pointer;
    height: 130px;
}

.item-photo_active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    z-index: 1;
    background-color: rgba(0,0,0, 0.5);
    box-sizing: border-box;
    display: none;
}

#active-item {
    display: block;
}

.item-wrapper {
    margin-bottom: 160px;
}

.btn-size,
.btn-color {
    width: 80px;
    height: 40px;
    background: transparent;
    outline: none;
    border: none;
    margin: 0 20px;
    font: bold 18px "Open Sans", sans-serif;
}

.btn-color {
    width: 70px;
}

.btn-size:hover,
.btn-color:hover {
    cursor: pointer;
}

.label-color,
.label-size {
    margin-left: 40px;
    font: 13px "Roboto Regular", sans-serif;
    margin-right: 43px;
}

.button-group-size {
    margin: 30px 0;
}

.btn_active {
    border: #e5e5e5;
}

.catalog-back_link {
    text-decoration: none;
    color: #000;
    font: bold 14px 'Open Sans', sans-serif;
}

.catalog-back_link:hover {
    color: #f14a58;
}
